<%= form_with(model: startup, class: "contents") do |form| %>
  <% if startup.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(startup.errors.count, "error") %> prohibited this startup from being saved:</h2>

      <ul class="list-disc ml-6">
        <% startup.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": startup.errors[:name].none?, "border-red-400 focus:outline-red-600": startup.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.textarea :description, rows: 4, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": startup.errors[:description].none?, "border-red-400 focus:outline-red-600": startup.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :website %>
    <%= form.text_field :website, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": startup.errors[:website].none?, "border-red-400 focus:outline-red-600": startup.errors[:website].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :industry %>
    <%= form.text_field :industry, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": startup.errors[:industry].none?, "border-red-400 focus:outline-red-600": startup.errors[:industry].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :founded_on %>
    <%= form.date_field :founded_on, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": startup.errors[:founded_on].none?, "border-red-400 focus:outline-red-600": startup.errors[:founded_on].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :approved %>
    <%= form.checkbox :approved, class: ["block shadow rounded-md border outline-none mt-2 h-5 w-5", {"border-gray-400 focus:outline-blue-600": startup.errors[:approved].none?, "border-red-400 focus:outline-red-600": startup.errors[:approved].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
