<div id="<%= dom_id startup %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= startup.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= startup.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Website:</strong>
    <%= startup.website %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Industry:</strong>
    <%= startup.industry %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Founded on:</strong>
    <%= startup.founded_on %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Approved:</strong>
    <%= startup.approved %>
  </p>
</div>
