<%# Bookmark button for public resource cards - requires user to be signed in %>
<% is_bookmarked = user_signed_in? && current_user.bookmarks.exists?(resource: resource) %>
<button 
  data-controller="bookmark-button"
  data-bookmark-button-bookmarked-value="<%= is_bookmarked %>"
  data-bookmark-button-resource-id-value="<%= resource.id %>"
  data-bookmark-button-signed-in-value="<%= user_signed_in? %>"
  data-action="click->bookmark-button#bookmark"
  data-bookmark-button-target="button"
  class="ml-2 btn btn-sm <%= is_bookmarked ? 'bg-gray-400 cursor-default' : 'bg-nailab-purple' %> text-white border-nailab-purple hover:bg-nailab-purple/90"
  <%= 'disabled' if is_bookmarked %>
>
  <%= is_bookmarked ? 'Bookmarked' : 'Bookmark' %>
</button>
