<%# app/views/founder_onboarding/_summary.html.erb %>
<h3>Founder Profile</h3>
<ul>
  <li><strong>Name:</strong> <%= user_profile.full_name %></li>
  <li><strong>Email:</strong> <%= user_profile.user&.email || current_user&.email || session.dig(:founder_onboarding_user_profile, :email) || 'Not provided' %></li>
  <li><strong>Phone:</strong> <%= user_profile.phone %></li>
  <li><strong>Country:</strong> <%= user_profile.country %></li>
  <li><strong>City:</strong> <%= user_profile.city %></li>
</ul>
<h3>Startup Profile</h3>
<ul>
  <li><strong>Startup Name:</strong> <%= startup_profile.startup_name %></li>
  <li><strong>Description:</strong> <%= startup_profile.description %></li>
  <li><strong>Stage:</strong> <%= startup_profile.stage %></li>
  <li><strong>Target Market:</strong> <%= startup_profile.target_market %></li>
  <li><strong>Unique Value Proposition:</strong> <%= startup_profile.value_proposition %></li>
  <li><strong>Sector:</strong> <%= startup_profile.sector %></li>
  <li><strong>Funding Stage:</strong> <%= startup_profile.funding_stage %></li>
  <li><strong>Funding Raised:</strong> <%= startup_profile.funding_raised %></li>
  <li><strong>Mentorship Areas:</strong> <%= Array(startup_profile.mentorship_areas).join(', ') %></li>
  <li><strong>Challenge Details:</strong> <%= startup_profile.challenge_details %></li>
  <li><strong>Preferred Mentorship Mode:</strong> <%= startup_profile.preferred_mentorship_mode %></li>
</ul>
<li><strong>Preferred Mentorship Mode:</strong> <%= startup_profile.preferred_mentorship_mode %></li>
</ul>
