<div class="bg-white">
  <%= render 'pages/home/hero' %>
  <%= render 'pages/home/who_we_are' %>
  <%= render 'pages/home/how_we_support' %>
  <%= render 'pages/home/focus_areas' %>
  <%= render 'pages/home/connect_grow_impact' %>
  <%= render 'pages/home/testimonials' %>
  <%= render 'pages/home/impact_network' %>
  <%= render 'pages/home/bottom_cta' %>
</div>