<% focus_areas.each do |fa| %>
  <tr class="border-t" data-fa-id="<%= fa.id %>" data-fa-title="<%= h(fa.title) %>" data-fa-description="<%= h(fa.description) %>" data-fa-icon="<%= h(fa.icon) %>" data-fa-active="<%= fa.active? %>">
    <td class="p-2 align-top"><strong><%= fa.title %></strong><div class="text-sm text-gray-600"><%= truncate(fa.description, length: 160) %></div></td>
    <td class="p-2 align-top w-32">
      <div class="flex flex-col">
        <%= link_to 'Up', admin_reorder_focus_area_path(fa, direction: 'up'), method: :post, class: 'btn btn-ghost mb-1' %>
        <%= link_to 'Down', admin_reorder_focus_area_path(fa, direction: 'down'), method: :post, class: 'btn btn-ghost' %>
      </div>
    </td>
    <td class="p-2 align-top">
      <%= form_with url: admin_toggle_focus_area_path(fa), method: :patch, local: true do %>
        <%= submit_tag(fa.active? ? 'Archive' : 'Activate', class: 'btn btn-sm') %>
      <% end %>
    </td>
    <td class="p-2 align-top w-48">
      <div class="flex items-center space-x-2">
        <button type="button" class="btn btn-secondary focus-edit-btn" data-id="<%= fa.id %>">Edit</button>
        <%= form_with url: admin_destroy_focus_area_path(fa), method: :delete, data: { confirm: 'Delete focus area?' }, local: true do %>
          <button type="submit" class="btn btn-danger inline-flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M8 9a1 1 0 011 1v4a1 1 0 11-2 0v-4a1 1 0 011-1zm4 1a1 1 0 10-2 0v4a1 1 0 102 0v-4zM5 6a1 1 0 011-1h8a1 1 0 011 1v1H5V6zM4 7h12v9a2 2 0 01-2 2H6a2 2 0 01-2-2V7z" clip-rule="evenodd"/></svg>
            Delete
          </button>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
