<div id="<%= dom_id mentor %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= mentor.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Bio:</strong>
    <%= mentor.bio %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Expertise:</strong>
    <%= mentor.expertise %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= mentor.email %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Approved:</strong>
    <%= mentor.approved %>
  </p>
</div>
