<div id="<%= dom_id opportunity %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= opportunity.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= opportunity.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= opportunity.url %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Deadline:</strong>
    <%= opportunity.deadline %>
  </p>
</div>
