<footer class="bg-gray-900 text-gray-200 py-12">
  <div class="container mx-auto px-4 md:px-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="col-span-1">
        <a href="/" class="flex items-center mb-8">
          <img src="/images/nailab-logo-purple.png" alt="Nailab Logo" class="h-16 w-auto">
        </a>
        <p class="text-gray-400">ceo@nailab.co.ke</p>
        <p class="text-gray-400">+254 790 492467</p>
      </div>
      <div>
        <h4 class="text-md font-semibold mb-4">Quick Links</h4>
        <ul class="space-y-3">
          <li><%= link_to 'About Us', root_path(anchor: 'about'), class: 'hover:text-white transition-colors duration-200' %></li>
          <li><%= link_to 'Startups', startups_path, class: 'hover:text-white transition-colors duration-200' %></li>
          <li><%= link_to 'Mentors', mentors_path, class: 'hover:text-white transition-colors duration-200' %></li>
          <li><%= link_to 'Resources', resources_path, class: 'hover:text-white transition-colors duration-200' %></li>
          <li><%= link_to 'Pricing', pricing_path, class: 'hover:text-white transition-colors duration-200' %></li>
        </ul>
      </div>
      <div>
        <h4 class="text-lg font-bold mb-4 text-center">Join Our Online Community</h4>
        <ul class="flex space-x-6 justify-center">
          <li>
            <a href="https://www.facebook.com/thenailabKenya" target="_blank" rel="noopener noreferrer" class="hover:text-white transition-colors duration-200 flex items-center justify-center">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://x.com/thenailab" target="_blank" rel="noopener noreferrer" class="hover:text-white transition-colors duration-200 flex items-center justify-center">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/the_nailab/" target="_blank" rel="noopener noreferrer" class="hover:text-white transition-colors duration-200 flex items-center justify-center">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/nailab-official/" target="_blank" rel="noopener noreferrer" class="hover:text-white transition-colors duration-200 flex items-center justify-center">
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/@nailabcoke" target="_blank" rel="noopener noreferrer" class="hover:text-white transition-colors duration-200 flex items-center justify-center">
              <i class="fab fa-youtube fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>