<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nailab | Africa's Startup Network</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'controllers', type: 'module', 'data-turbo-track': 'reload' %>
  </head>
  <body class="bg-white text-gray-900">
    <%= render 'shared/public_header' %>
    <div class="page-content">
      <%= yield %>
    </div>
    <% unless request.path == '/login' || request.path == '/signup' || request.path == founder_onboarding_path || request.path.start_with?('/founder') %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>