<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nailab | Africa's Startup Network</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', type: 'module', 'data-turbo-track': 'reload' %>
  </head>
  <body class="bg-white text-gray-900">
    <%= render 'shared/public_header' %>
    <div class="page-content">
      <%= yield %>
    </div>
    <% unless request.path == new_user_session_path || request.path == new_user_registration_path || request.path == founder_onboarding_path || request.path.start_with?('/founder') %>
      <%= render 'shared/footer' %>
    <% end %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
  </body>
</html>