<!DOCTYPE html>
<html lang="en" data-theme="nailab_founder">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= content_for?(:title) ? yield(:title) : 'Nailab | Founder Dashboard' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/assets/application.tailwind-90a05c1759081afce49ed0c70a4d1f5b7db0f56eb2820c47b7c2f3be4227f626.css" data-turbo-track="reload">
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gray-50 text-gray-900" data-theme="nailab_founder">
    <div class="flex min-h-screen">
      <%= render 'shared/founder_sidebar' %>
      <div class="flex-1 ml-0 md:ml-64">
        <main class="p-8">
          <%= render 'shared/top_nav' %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
